<section id="song-detail">
    <div class="container">
        <div class="cover-song-detail">
            <div class="banner">
                <div class="main-image">
                    <div class="background"></div>
                    <img src="{{nhac?.image}}" alt="">
                    <div class="small-image">
                        <img src="{{nhac?.image}}" alt="">
                    </div>
                </div>
            </div>
            <audio controls autoplay>
                <source src="{{nhac?.linkMusic}}" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
        </div>

    </div>
</section>