#video-detail {
    .bottom-audio {
        display: flex;
        width: 100%;
        padding: 20px 0;
        .add,
        .love,
        .comment {
            width: 15%;
            font-size: 20px;
            span {
                margin-left: 10px;
            }
            &:hover {
                i,
                span {
                    color: #6e55b4;
                    cursor: pointer;
                }
            }
        }
    }
    .content-song {
        .lyrics {
            padding: 20px;
        }
        .support {
            .button {
                text-align: right;
                font-size: 20px;
                span {
                    margin-left: 10px;
                }
                &:hover {
                    i,
                    span {
                        color: #6e55b4;
                        cursor: pointer;
                    }
                }
            }
            .update-lyrics {
                textarea.form-control {
                    height: 300px;
                    padding: 10px;
                    margin: 20px 0;
                }
                .submit {
                    display: flex;
                    height: 50px;
                    line-height: 50px;
                    justify-content: center;
                    .cancel {
                        margin-right: 20px;
                    }
                    button {
                        background: #6e55b4;
                        color: #fff;
                        text-transform: uppercase;
                        border: none;
                        padding: 10px 20px;
                        border-radius: 5px;
                        line-height: 30px;
                    }
                }
            }
        }
        .comments {
            padding: 40px 0;
            .title {
                text-transform: uppercase;
                font-size: 24px;
                padding: 30px 0;
                font-weight: 500;
            }
            .cover-comments {
                padding: 10px;
                border: 1px solid #8080803d;
                border-radius: 5px;
                margin: 10px 0;
                .each-comment {
                    display: flex;
                    .image-client {
                        width: 10%;
                        img {
                            width: 70px;
                            height: 70px;
                            object-fit: cover;
                            border-radius: 100%;
                        }
                    }
                    .detail {
                        .name-client {
                            font-size: 20px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .update-comment {
            display: flex;
            width: 100%;
            padding: 40px 0;
            .text {
                width: 90%;
            }
            .button-comment {
                width: 10%;
                button {
                    height: 100%;
                    width: 100%;
                    color: #fff;
                    text-transform: uppercase;
                    background: #6e55b4;
                    border: none;
                }
            }
        }
        .cover-list {
            padding-top: 30px;
        }
        .cover-video {
            box-shadow: 0px 0px 23px 0px rgb(216, 216, 216);
            padding: 10px;
            position: relative;
            transition: all 0.5s;
            &:hover {
                cursor: pointer;
                width: 100%;
                height: 100%;
                transform: translateY(-10px);
                box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.2);
                .image {
                    opacity: 0.7;
                }
            }
            .image {
                width: 100%;
                height: auto;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .detail {
                padding: 10px;
            }
        }
    }
}