<header>

    <div class="cover-header">
        <div class="logo">
            <img src="../../assets/logo-mp-3.svg" alt="">
        </div>
        <div class="menu-main">

            <div id="menu">
                <ul class="list-menu">
                    <li class="menu-parents">
                        <a href="#" class="list-item">Trang chủ</a>
                    </li>
                    <li class="menu-parents">
                        <a href="#" class="list-item">THỂ LOẠI</a>
                        <div class="child">
                            <div class="cover-child">

                                <div class="child-1">
                                    <span class="title">VIỆT NAM</span>
                                    <a href="#">Nhạc Dance</a>
                                    <a href="#">Nhạc Pop</a>
                                    <a href="#">Nhạc EDM</a>
                                </div>
                                <div class="child-2">
                                    <span class="title">ÂU MỸ</span>
                                    <a href="#">Nhạc Dance</a>
                                    <a href="#">Nhạc Pop</a>
                                    <a href="#">Nhạc EDM</a>
                                </div>
                                <div class="child-3">
                                    <span class="title">HÀN QUỐC</span>
                                    <a href="#">Nhạc Dance</a>
                                    <a href="#">Nhạc Pop</a>
                                    <a href="#">Nhạc EDM</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-parents">
                        <a href="#" class="list-item">Video</a>
                        <div class="child">
                            <div class="cover-child">
                                <div class="child-1">
                                    <span class="title">VIỆT NAM</span>
                                    <a href="#">Nhạc Dance</a>
                                    <a href="#">Nhạc Pop</a>
                                    <a href="#">Nhạc EDM</a>
                                </div>
                                <div class="child-2">
                                    <span class="title">ÂU MỸ</span>
                                    <a href="#">Nhạc Dance</a>
                                    <a href="#">Nhạc Pop</a>
                                    <a href="#">Nhạc EDM</a>
                                </div>
                                <div class="child-3">
                                    <span class="title">HÀN QUỐC</span>
                                    <a href="#">Nhạc Dance</a>
                                    <a href="#">Nhạc Pop</a>
                                    <a href="#">Nhạc EDM</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-parents">
                        <a href="#" class="list-item">Music</a>
                        <div class="child">
                            <div class="cover-child">
                                <div class="child-1">
                                    <span class="title">VIỆT NAM</span>
                                    <a href="#">Nhạc Dance</a>
                                    <a href="#">Nhạc Pop</a>
                                    <a href="#">Nhạc EDM</a>
                                </div>
                                <div class="child-2">
                                    <span class="title">ÂU MỸ</span>
                                    <a href="#">Nhạc Dance</a>
                                    <a href="#">Nhạc Pop</a>
                                    <a href="#">Nhạc EDM</a>
                                </div>
                                <div class="child-3">
                                    <span class="title">HÀN QUỐC</span>
                                    <a href="#">Nhạc Dance</a>
                                    <a href="#">Nhạc Pop</a>
                                    <a href="#">Nhạc EDM</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-parents">
                        <a href="#" class="list-item">Nghệ sĩ</a>
                        <div class="child">
                            <div class="cover-child">
                                <div class="child-1">
                                    <a href="#">Việt Nam</a>
                                    <a href="#">Âu Mỹ</a>
                                    <a href="#">Hàn Quốc</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-parents">
                        <a href="#" class="list-item">Nhạc cá nhân</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="search">
            <form class="example" action="action_page.php">
                <input type="text" placeholder="Nhập tên bài hát, ca sĩ hoặc MV..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="login">
            <div class="avata">
                <img src="../../assets/user.png" alt="">
            </div>
            <div class="text">
                <div class="name">

                </div>
                <div class="type">

                </div>
                <div class="account">
                    Đăng nhập
                </div>
            </div>
        </div>
    </div>
</header>