<app-page></app-page>

<section id="content-video">
    <div class="container">
        <mat-tab-group>
            <mat-tab class="tab-title" label="Tất cả">
                <span class="text">Việt Nam</span>
                <div class="row tab-content">
                    <ng-container *ngFor="let music of nhac">
                        <div class="col-lg-3" *ngIf="(music.musicType == 'v-pop' || music.musicType == 'v-dance' || music.musicType == 'v-edm') && music.isVideo == '1'">
                            <div class="cover-video" (click)="laynhac(music)">
                                <div class="image">
                                    <img src="{{music?.image}}" alt="">
                                </div>
                                <div class="detail">
                                    <div class="name-song">
                                        {{music?.musicName}}
                                    </div>
                                    <div class="singer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <span class="text">Âu Mỹ</span>
                <div class="row tab-content">
                    <ng-container *ngFor="let music of nhac">
                        <div class="col-lg-3" *ngIf="(music.musicType == 'us-pop' || music.musicType == 'us-dance' || music.musicType == 'us-edm') && music.isVideo == '1'">
                            <div class="cover-video" (click)="laynhac(music)">
                                <div class="image">
                                    <img src="{{music?.image}}" alt="">
                                </div>
                                <div class="detail">
                                    <div class="name-song">
                                        {{music?.musicName}}
                                    </div>
                                    <div class="singer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>
                <span class="text">Hàn Quốc</span>
                <div class="row tab-content">

                    <ng-container *ngFor="let music of nhac">
                        <div class="col-lg-3" *ngIf="(music.musicType == 'k-pop' || music.musicType == 'k-dance' || music.musicType == 'k-edm') && music.isVideo == '1'">
                            <div class="cover-video" (click)="laynhac(music)">
                                <div class="image">
                                    <img src="{{music?.image}}" alt="">
                                </div>
                                <div class="detail">
                                    <div class="name-song">
                                        {{music?.musicName}}
                                    </div>
                                    <div class="singer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>
            </mat-tab>
            <mat-tab class="tab-title" label="Việt Nam">
                <span class="text">Việt Nam</span>
                <div class="row tab-content">
                    <ng-container *ngFor="let music of nhac">
                        <div class="col-lg-3" *ngIf="(music.musicType == 'v-pop' || music.musicType == 'v-dance' || music.musicType == 'v-edm') && music.isVideo == '1'">
                            <div class="cover-video" (click)="laynhac(music)">
                                <div class="image">
                                    <img src="{{music?.image}}" alt="">
                                </div>
                                <div class="detail">
                                    <div class="name-song">
                                        {{music?.musicName}}
                                    </div>
                                    <div class="singer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </mat-tab>
            <mat-tab class="tab-title" label="Hàn Quốc">
                <span class="text">Hàn Quốc</span>
                <div class="row tab-content">

                    <ng-container *ngFor="let music of nhac">
                        <div class="col-lg-3" *ngIf="(music.musicType == 'k-pop' || music.musicType == 'k-dance' || music.musicType == 'k-edm') && music.isVideo == '1'">
                            <div class="cover-video" (click)="laynhac(music)">
                                <div class="image">
                                    <img src="{{music?.image}}" alt="">
                                </div>
                                <div class="detail">
                                    <div class="name-song">
                                        {{music?.musicName}}
                                    </div>
                                    <div class="singer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>
            </mat-tab>
            <mat-tab class="tab-title" label="Âu Mỹ">
                <span class="text">Âu Mỹ</span>
                <div class="row tab-content">
                    <ng-container *ngFor="let music of nhac">
                        <div class="col-lg-3" *ngIf="(music.musicType == 'us-pop' || music.musicType == 'us-dance' || music.musicType == 'us-edm') && music.isVideo == '1'">
                            <div class="cover-video" (click)="laynhac(music)">
                                <div class="image">
                                    <img src="{{music?.image}}" alt="">
                                </div>
                                <div class="detail">
                                    <div class="name-song">
                                        {{music?.musicName}}
                                    </div>
                                    <div class="singer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>