<app-page></app-page>
<section id="content-home">
    <div class="container">
        <div class="recommend">
            <h3>Thể loại</h3>
            <div id="type-home">
                <div class="cover-type">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigtype">
                        <ng-container ngxSlickItem *ngFor="let kind of type">
                            <div>
                                <div class="cover-each-type" (click)="getType(kind)">
                                    <div class="image">
                                        <img src="{{kind?.image}}" alt="">
                                    </div>

                                    <div class="detail">
                                        <div class="name-type">
                                            {{kind?.nameType}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
        <div class="recommend">
            <h3>Video Music</h3>
            <div class="coverMusicVideo">
                <span class="text">Việt Nam</span>
                <div class="row video">
                    <ng-container *ngFor="let music of nhac">
                        <div class="col-lg-3" *ngIf="music.country == 'Việt Nam' && music.isVideo == '1'">
                            <div class="cover-video" (click)="layvideo(music)">
                                <div class="image">
                                    <img src="{{music?.image}}" alt="">
                                </div>
                                <div class="detail">
                                    <div class="name-song">
                                        {{music?.musicName}}
                                    </div>
                                    <div class="singer">
                                        <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <span class="text">Âu Mỹ</span>
                <div class="row video">
                    <ng-container *ngFor="let music of nhac">
                        <div class="col-lg-3" *ngIf="music.country == 'US-UK' && music.isVideo == '1'">
                            <div class="cover-video" (click)="layvideo(music)">
                                <div class="image">
                                    <img src="{{music?.image}}" alt="">
                                </div>
                                <div class="detail">
                                    <div class="name-song">
                                        {{music?.musicName}}
                                    </div>
                                    <div class="singer">
                                        <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>
                <span class="text">Hàn Quốc</span>
                <div class="row video">
                    <ng-container *ngFor="let music of nhac">
                        <div class="col-lg-3" *ngIf="music.country == 'Korea' && music.isVideo == '1'">
                            <div class="cover-video" (click)="layvideo(music)">
                                <div class="image">
                                    <img src="{{music?.image}}" alt="">
                                </div>
                                <div class="detail">
                                    <div class="name-song">
                                        {{music?.musicName}}
                                    </div>
                                    <div class="singer">
                                        <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="recommend">
            <h3>Bài hát</h3>
            <div id="song">
                <div class="cover-song">
                    <span class="text">Việt Nam</span>
                    <div class="tab-content">
                        <div class="cover-song">
                            <div class="row">
                                <ng-container *ngFor="let music of nhac">
                                    <div class="col-lg-6 each-song" *ngIf="music.country == 'Việt Nam' && music.isVideo == '0'">
                                        <div class="cover-each-song" (click)="laynhac(music)">
                                            <div class="image">
                                                <img src="{{music?.image}}" alt="">
                                            </div>
                                            <div class="detail">
                                                <div class="name-song">
                                                    {{music?.musicName}}
                                                </div>
                                                <div class="singer">
                                                    <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <span class="text">Âu Mỹ</span>
                    <div class="tab-content">
                        <div class="cover-song">
                            <div class="row">
                                <ng-container *ngFor="let music of nhac">
                                    <div class="col-lg-6 each-song" *ngIf="music.country == 'US-UK' && music.isVideo == '0'">
                                        <div class="cover-each-song" (click)="laynhac(music)">
                                            <div class="image">
                                                <img src="{{music?.image}}" alt="">
                                            </div>
                                            <div class="detail">
                                                <div class="name-song">
                                                    {{music?.musicName}}
                                                </div>
                                                <div class="singer">
                                                    <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                    </div>
                    <span class="text">Hàn Quốc</span>
                    <div class="tab-content">
                        <div class="cover-song">
                            <div class="row">
                                <ng-container *ngFor="let music of nhac">
                                    <div class="col-lg-6 each-song" *ngIf="music.country == 'Korea' && music.isVideo == '0'">
                                        <div class="cover-each-song" (click)="laynhac(music)">
                                            <div class="image">
                                                <img src="{{music?.image}}" alt="">
                                            </div>
                                            <div class="detail">
                                                <div class="name-song">
                                                    {{music?.musicName}}
                                                </div>
                                                <div class="singer">
                                                    <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="recommend">
            <h3>Nghệ sĩ nổi bật</h3>
            <div id="singer">
                <div class="cover-singer">

                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                        <div ngxSlickItem *ngFor="let singer of singers">
                            <div class="cover-each-singer" (click)="onDetails(singer._id)">
                                <div class="avatar">
                                    <img src="{{singer?.avatar}}" alt="">
                                </div>
                                <div class="detail">
                                    <div class="name-singer">
                                        {{singer?.singerName}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>

                </div>
            </div>
        </div>
    </div>
</section>