<section id="login">
    <div class="container">
        <div class="form-login">
            <h2>Đăng nhập</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" action="">
                <div class="cover-form">
                    <div class="cover-input">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">User name</span>
                            </div>
                            <input type="text" formControlName="email" #email class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required="">

                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                            </div>
                            <input type="password" formControlName="password" #password class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>

                    <div class="cover-button">
                        <div class="button">
                            <button type="button" class="btn btn-info" (click)="onLogin()">Đăng nhập</button>
                        </div>
                        <div class="dangky">
                            <a href="" [routerLink]="['/signup']">Đăng ký</a>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</section>