<section id="admin">
    <div class="container">
        <mat-tab-group>
            <mat-tab class="tab-title" label="Quản lý Tài khoản">
                <span class="title">Danh sách người dùng</span>
                <div class="cover-client">
                    <ng-container *ngFor="let client of user">
                        <div *ngIf="client.role_ == '0'">
                            <div class="cover-user">
                                <div class="image">
                                    <div class="cover-image">
                                        <img src="{{client.avata}}" alt="">
                                    </div>

                                </div>
                                <div class="detail">
                                    <div class="name">
                                        {{client.fullName}}
                                    </div>
                                    <div class="email">
                                        {{client.email}}
                                    </div>
                                </div>
                                <div class="button">
                                    <div class="button-edit">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="button-delete">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </mat-tab>
            <mat-tab class="tab-title" label="Quản lý MV">

                <div class="coverMusicVideo">
                    <span class="text">Việt Nam</span>
                    <div class="row video">
                        <ng-container *ngFor="let music of nhac">
                            <div class="col-lg-3" *ngIf="music.country == 'Việt Nam' && music.isVideo == '1'">
                                <div class="cover-video" (click)="layvideo(music)">
                                    <div class="image">
                                        <img src="{{music?.image}}" alt="">
                                    </div>
                                    <div class="detail">
                                        <div class="name-song">
                                            {{music?.musicName}}
                                        </div>
                                        <div class="singer">
                                            <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <span class="text">Âu Mỹ</span>
                    <div class="row video">
                        <ng-container *ngFor="let music of nhac">
                            <div class="col-lg-3" *ngIf="music.country == 'US-UK' && music.isVideo == '1'">
                                <div class="cover-video" (click)="layvideo(music)">
                                    <div class="image">
                                        <img src="{{music?.image}}" alt="">
                                    </div>
                                    <div class="detail">
                                        <div class="name-song">
                                            {{music?.musicName}}
                                        </div>
                                        <div class="singer">
                                            <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                    </div>
                    <span class="text">Hàn Quốc</span>
                    <div class="row video">
                        <ng-container *ngFor="let music of nhac">
                            <div class="col-lg-3" *ngIf="music.country == 'Korea' && music.isVideo == '1'">
                                <div class="cover-video" (click)="layvideo(music)">
                                    <div class="image">
                                        <img src="{{music?.image}}" alt="">
                                    </div>
                                    <div class="detail">
                                        <div class="name-song">
                                            {{music?.musicName}}
                                        </div>
                                        <div class="singer">
                                            <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </mat-tab>
            <mat-tab class="tab-title" label="Quản lý Bài hát">

                <div id="song">
                    <div class="cover-song">
                        <span class="text">Việt Nam</span>
                        <div class="tab-content">
                            <div class="cover-song">
                                <div class="row">
                                    <ng-container *ngFor="let music of nhac">
                                        <div class="col-lg-6 each-song" *ngIf="music.country == 'Việt Nam' && music.isVideo == '0'">
                                            <div class="cover-each-song">
                                                <div class="image" (click)="laynhac(music)">
                                                    <img src="{{music?.image}}" alt="">
                                                </div>
                                                <div class="detail" (click)="laynhac(music)">
                                                    <div class="name-song">
                                                        {{music?.musicName}}
                                                    </div>
                                                    <div class="singer">
                                                        <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <span class="text">Âu Mỹ</span>
                        <div class="tab-content">
                            <div class="cover-song">
                                <div class="row">
                                    <ng-container *ngFor="let music of nhac">
                                        <div class="col-lg-6 each-song" *ngIf="music.country == 'US-UK' && music.isVideo == '0'">
                                            <div class="cover-each-song">
                                                <div class="image" (click)="laynhac(music)">
                                                    <img src="{{music?.image}}" alt="">
                                                </div>
                                                <div class="detail" (click)="laynhac(music)">
                                                    <div class="name-song">
                                                        {{music?.musicName}}
                                                    </div>
                                                    <div class="singer">
                                                        <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>

                        </div>
                        <span class="text">Hàn Quốc</span>
                        <div class="tab-content">
                            <div class="cover-song">
                                <div class="row">
                                    <ng-container *ngFor="let music of nhac">
                                        <div class="col-lg-6 each-song" *ngIf="music.country == 'Korea' && music.isVideo == '0'">
                                            <div class="cover-each-song">
                                                <div class="image" (click)="laynhac(music)">
                                                    <img src="{{music?.image}}" alt="">
                                                </div>
                                                <div class="detail" (click)="laynhac(music)">
                                                    <div class="name-song">
                                                        {{music?.musicName}}
                                                    </div>
                                                    <div class="singer">
                                                        <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab class="tab-title" label="Quản lý lời bài hát">
                <span class="text">Quản lý lời bài hát</span>
                <div class="tab-content">

                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>