<section id="admin">
    <div class="container">
        <mat-tab-group>
            <mat-tab class="tab-title" label="Quản lý Tài khoản">
                <span class="title">Danh sách người dùng</span>
                <div class="cover-client">
                    <div class="table">
                        <div class="column1">Profile</div>
                        <div class="column2">thông tin</div>
                        <div class="column3">Tác vụ</div>
                    </div>
                    <ng-container *ngFor="let client of user">
                        <div>
                            <div class="cover-user">
                                <div class="image">
                                    <div class="cover-image">
                                        <img src="{{client?.avata}}" alt="">
                                    </div>

                                </div>
                                <div class="detail">
                                    <div class="name">
                                        {{client?.fullName}}
                                    </div>
                                    <div class="email">
                                        {{client?.email}}
                                    </div>
                                </div>
                                <div class="button" *ngIf="client?.role_ != '1'">
                                    <div class="button-delete" data-toggle="modal" data-target="#DeleteUser" (click)="getIDUsertoDelete(client?._id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </mat-tab>
            <mat-tab class="tab-title" label="Quản lý Music Video">
                <div class="header">
                    <span class="title">Danh sách Music Video</span>
                    <span class="icon">
                        <i class="fa fa-plus-circle" aria-hidden="true" data-toggle="modal" data-target="#AddMusic"></i>
                    </span>
                </div>
                <div class="coverMusicVideo-admin">
                    <div class="row video">
                        <ng-container *ngFor="let music of nhac">
                            <div class="col-lg-3" *ngIf="music.isVideo == '1'">
                                <div class="cover-video">
                                    <div class="image">
                                        <img src="{{music?.image}}" alt="">
                                    </div>
                                    <div class="detail">
                                        <div class="name-song">
                                            {{music?.musicName}}
                                        </div>
                                        <div class="singer">
                                            <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                        </div>
                                    </div>
                                    <div class="button">
                                        <div class="button-edit" data-toggle="modal" data-target="#UpdateMusic" (click)="getIDMusictoUpdate(music?._id)">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="button-delete" data-toggle="modal" data-target="#DeleteMusic" (click)="getIDMusictoDelete(music?._id)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </mat-tab>
            <mat-tab class="tab-title" label="Quản lý Bài hát">
                <div class="header">
                    <span class="title">Danh sách Bài hát</span>

                    <span class="icon">
                            
                            <i class="fa fa-plus-circle" aria-hidden="true" aria-hidden="true" data-toggle="modal" data-target="#AddMusic"></i>
                        </span>
                </div>
                <div id="song">
                    <div class="cover-song">
                        <div class="tab-content">
                            <div class="cover-song">
                                <div class="row">
                                    <ng-container *ngFor="let music of nhac">
                                        <div class="col-lg-6 each-song" *ngIf="music.isVideo == '0'">
                                            <div class="cover-each-song">
                                                <div class="image" (click)="laynhac(music)">
                                                    <img src="{{music?.image}}" alt="">
                                                </div>
                                                <div class="detail" (click)="laynhac(music)">
                                                    <div class="name-song">
                                                        {{music?.musicName}}
                                                    </div>
                                                    <div class="singer">
                                                        <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                                    </div>
                                                </div>
                                                <div class="button">
                                                    <div class="button-edit" data-toggle="modal" data-target="#UpdateMusic" (click)="getIDMusictoUpdate(music?._id)">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="button-delete" data-toggle="modal" data-target="#DeleteMusic" (click)="getIDMusictoDelete(music?._id)">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab class="tab-title" label="Quản lý lời bài hát">
                <span class="title">Danh sách lời bài hát</span>
                <div class="cover-lyrics">
                    <div class="table">
                        <div class="column1">Tên bài hát</div>
                        <div class="column2">Nội dung</div>
                        <div class="column3">Tác vụ</div>

                    </div>
                    <ng-container *ngFor="let nhac of nhacTemp">
                        <div>
                            <div class="cover-nhac">
                                <div class="name-song">
                                    {{nhac?.musicName}}
                                </div>
                                <div class="detail">
                                    {{nhac?.lyrics}}
                                </div>
                                <div class="button">
                                    <button (click)="UpdateLyrics(nhac?.id, nhac)">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </mat-tab>
            <mat-tab class="tab-title" label="Quản lý Nghệ sĩ">
                <div class="header">
                    <span class="title">Danh sách nghệ sĩ</span>
                    <span class="icon">
                        <i class="fa fa-plus-circle" aria-hidden="true" aria-hidden="true" data-toggle="modal" data-target="#AddSinger"></i>
                    </span>
                </div>
                <div class="cover-lyrics">
                    <div class="table">
                        <div class="column1">Profile</div>
                        <div class="column2">Thông tin</div>
                        <div class="column3">Tác vụ</div>
                    </div>
                    <ng-container *ngFor="let singer of singers">
                        <div>
                            <div class="cover-singer">
                                <div class="profile">
                                    <img src="{{singer?.avatar}}" alt="" srcset="">
                                </div>
                                <div class="name-singer">
                                    {{singer?.singerName}} <br> {{singer?.nation}}
                                </div>
                                <div class="button-delete" data-toggle="modal" data-target="#DeleteSinger" (click)="getIDSingertoDelete(singer?._id)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </mat-tab>
            <mat-tab class="tab-title" label="Quản lý Thể loại">
                <div class="header">
                    <span class="title">Danh sách thể loại</span>
                    <span class="icon">
                        <i class="fa fa-plus-circle" aria-hidden="true" aria-hidden="true" data-toggle="modal" data-target="#AddType"></i>
                    </span>
                </div>
                <div class="cover-lyrics">
                    <div class="table">
                        <div class="column1">Tên thể loại</div>
                        <div class="column2">Thông tin</div>
                        <div class="column3">Tác vụ</div>
                    </div>
                    <ng-container *ngFor="let item of type">
                        <div>
                            <div class="cover-type">
                                <div class="image-type">
                                    <img src="{{item?.image}}" alt="" srcset="">
                                </div>
                                <div class="detail">
                                    {{item?.nameType}}
                                </div>
                                <div class="button-delete" data-toggle="modal" data-target="#DeleteType">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>


<div class="modal fade" id="AddSinger" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm nghệ sĩ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addSingerForm">
                    <div class="cover-form">
                        <div class="cover-input">
                            <div class="row">
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Tên ca sĩ</label>
                                    </div>
                                    <input type="text" formControlName="singerName" name="singerName" #singerName class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required="">
                                </div>
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Quốc gia</label>
                                    </div>
                                    <input type="text" formControlName="nation" name="nation" #nation class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required="">
                                </div>

                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Tiểu sử</label>
                                    </div>
                                    <input type="text" formControlName="story" name="story" #story class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Ảnh đại diện</label>
                                    </div>
                                    <input type="file" formControlName="avatar" name="avatar" #avatar (change)="getLinkAvatarSinger($event)" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="AddSinger()
                        ">Xác nhận</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="AddMusic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm bài hát</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addMusicForm">
                    <div class="cover-form">
                        <div class="cover-input">
                            <div class="row">
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Tên bài hát</label>
                                    </div>
                                    <input type="text" formControlName="musicName" name="musicName" #musicName class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required="">
                                </div>
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Thể loại</label>
                                    </div>
                                    <select formControlName="musicType" name="musicType" #musicType class="form-control" class="where" (change)="getIDType($event)">
                                                    <option *ngFor="let item of type" [value]="item._id">
                                                        {{item.nameType}}</option>
                                                </select>
                                </div>

                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Lời bài hát</label>
                                    </div>
                                    <input type="text" formControlName="lyrics" name="lyrics" #lyrics class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>

                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Video/Song</label>
                                    </div>
                                    <input type="text" formControlName="isVideo" name="isVideo" #isVideo class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Link bài hát</label>
                                    </div>
                                    <input type="file" (change)="getLinkMusic($event)" formControlName="linkMusic" name="linkMusic" #linkMusic class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Ảnh đại diện</label>
                                    </div>
                                    <input type="file" formControlName="image" name="image" #image (change)="getLinkImage($event)" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Quốc gia</label>
                                    </div>
                                    <input type="text" formControlName="country" name="country" #country class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>

                                <div class="form-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Ca sĩ</label>
                                    </div>
                                    <select formControlName="singer" name="singer" #singer class="form-control" class="where" (change)="getIDSinger($event)">
                                        <option *ngFor="let sg of singers" [value]="sg._id">
                                            {{sg.singerName}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="AddMusic()
                ">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UpdateMusic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật bài hát</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addMusicForm">
                    <div class="cover-form">
                        <div class="cover-input">
                            <div class="row">
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Tên bài hát</label>
                                    </div>
                                    <input type="text" formControlName="musicName" name="musicName" #musicName class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required="">
                                </div>
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Thể loại</label>
                                    </div>
                                    <select formControlName="musicType" name="musicType" #musicType class="form-control" class="where" (change)="getIDType($event)">
                                                            <option *ngFor="let item of type" [value]="item._id">
                                                                {{item.nameType}}</option>
                                                        </select>
                                </div>

                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Lời bài hát</label>
                                    </div>
                                    <input type="text" formControlName="lyrics" name="lyrics" #lyrics class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>

                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Video/Song</label>
                                    </div>
                                    <input type="text" formControlName="isVideo" name="isVideo" #isVideo class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Link bài hát</label>
                                    </div>
                                    <input type="file" (change)="getLinkMusic($event)" formControlName="linkMusic" name="linkMusic" #linkMusic class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Ảnh đại diện</label>
                                    </div>
                                    <input type="file" formControlName="image" name="image" #image (change)="getLinkImage($event)" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Quốc gia</label>
                                    </div>
                                    <input type="text" formControlName="country" name="country" #country class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>

                                <div class="form-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Ca sĩ</label>
                                    </div>
                                    <select formControlName="singer" name="singer" #singer class="form-control" class="where" (change)="getIDSinger($event)">
                                                <option *ngFor="let sg of singers" [value]="sg._id">
                                                    {{sg.singerName}}</option>
                                            </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="UpdatMusic()
                        ">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa người dùng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                Bạn có thực sự muốn xóa người dùng này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="DeleteUser(iduser._id)">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteMusic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa nhạc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>
            <div class="modal-body">
                Bạn có thực sự muốn xóa bài hát này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="DeleteMusic(idmusic._id)">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteSinger" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa nghệ sĩ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>
            <div class="modal-body">
                Bạn có thực sự muốn xóa Nghệ sĩ này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="DeleteSinger(idsinger)">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="AddType" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm nghệ sĩ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addSingerForm">
                    <div class="cover-form">
                        <div class="cover-input">
                            <div class="row">
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Tên ca sĩ</label>
                                    </div>
                                    <input type="text" formControlName="singerName" name="singerName" #singerName class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required="">
                                </div>
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Quốc gia</label>
                                    </div>
                                    <input type="text" formControlName="nation" name="nation" #nation class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required="">
                                </div>

                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Tiểu sử</label>
                                    </div>
                                    <input type="text" formControlName="story" name="story" #story class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3 col-lg-6">
                                    <div class="input-group-prepend">
                                        <label id="inputGroup-sizing-default">Ảnh đại diện</label>
                                    </div>
                                    <input type="file" formControlName="image" name="image" #image (change)="getLinkAvatarType($event)" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="AddType()
                        ">Xác nhận</button>
            </div>
        </div>
    </div>
</div> -->