#admin {
    padding: 40px 0;
    .header {
        display: flex;
        justify-content: space-between;
        .title {
            padding: 10px 20px;
        }
        .icon {
            i {
                font-size: 60px;
                opacity: 0.5;
                color: #6e55b4;
                &:hover {
                    color: #6e55b4;
                    opacity: 1;
                }
            }
        }
    }
    .title {
        font-weight: 500;
        text-transform: uppercase;
        padding: 20px;
    }
    .cover-client {
        .table {
            width: 100%;
            display: flex;
            font-weight: 500;
            text-transform: uppercase;
            .column1 {
                width: 15%;
            }
            .column2 {
                width: 75%;
            }
            .column3 {
                width: 20%;
            }
        }
        padding-top: 30px;
        .cover-user {
            padding-bottom: 20px;
            display: flex;
            box-shadow: 0px 0px 23px 0px rgb(247, 247, 247);
            padding: 10px;
            position: relative;
            &:hover {
                cursor: pointer;
                background-color: #efefef54;
                .detail {
                    color: #6e55b4;
                }
            }
        }
        .image {
            width: 13%;
            .cover-image {
                width: 50px;
                height: 50px;
                img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }
        }
        .detail {
            width: 65%;
        }
        .button {
            width: 10%;
            display: flex;
            justify-content: space-around;
            -webkit-box-align: center;
            align-items: center;
            .button-edit,
            .button-delete {
                width: 15%;
                text-align: center;
                i {
                    font-size: 23px;
                }
                &:hover {
                    cursor: pointer;
                    i {
                        color: #6e55b4;
                        font-weight: 500;
                    }
                }
            }
            .button-delete {
                i {
                    font-size: 21px;
                }
            }
        }
    }
    .cover-lyrics {
        .table {
            width: 100%;
            display: flex;
            font-weight: 500;
            text-transform: uppercase;
            padding: 30px 0;
            .column1 {
                width: 24%;
            }
            .column2 {
                width: 75%;
            }
            .column3 {
                width: 20%;
            }
        }
        .cover-nhac {
            display: flex;
            padding: 20px 0;
            .name-song {
                width: 20%;
            }
            .detail {
                width: 63%;
            }
            .button {
                width: 10%;
            }
        }
    }
}

.coverMusicVideo-admin {
    .text {
        text-transform: uppercase !important;
        font-weight: 600;
        padding-left: 20px;
    }
    .video {
        margin: 0;
        padding: 30px 0;
        .col-lg-3 {
            margin: 15px 0;
        }
        .cover-video {
            box-shadow: 0px 0px 23px 0px rgb(216, 216, 216);
            padding: 10px;
            position: relative;
            transition: all 0.5s;
            &:hover {
                cursor: pointer;
                width: 100%;
                height: 100%;
                transform: translateY(-10px);
                box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.2);
                .image {
                    opacity: 0.7;
                }
            }
            .image {
                width: 220px;
                height: 140px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .button {
                display: flex;
                justify-content: space-between;
                .button-edit,
                .button-delete {
                    i {
                        font-size: 23px;
                        font-weight: 500;
                    }
                    &:hover {
                        i {
                            color: #6e55b4;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .detail {
            .name-song {
                font-size: 16px;
                font-weight: 500;
                color: #32323d;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                line-height: 1.56;
                margin: 8px 0 5px;
                text-transform: capitalize;
                &:hover {
                    color: #6e55b4;
                }
            }
            .singer {
                display: inline-block;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.36;
                color: #a0a0a0;
                padding: 0;
                width: 210px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                &:hover {
                    color: #6e55b4;
                }
            }
        }
    }
}

.tab-title {
    padding-top: 30px !important;
}

.mat-tab-label-content {
    text-transform: uppercase !important;
    font-weight: 500 !important;
}

.mat-tab-body-content {
    padding-top: 30px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

#song {
    .cover-song {
        .tab-content {
            padding: 30px 0;
        }
        .text {
            text-transform: uppercase !important;
            font-weight: 600;
        }
        .each-song {
            padding: 5px 10px;
            .cover-each-song {
                box-shadow: 0px 0px 23px 0px rgb(247, 247, 247);
                padding: 10px;
                position: relative;
                &:hover {
                    cursor: pointer;
                    background-color: #efefef54;
                    .detail {
                        .name-song {
                            color: #6e55b4;
                        }
                    }
                }
                .button {
                    display: flex;
                    align-items: center;
                    .button-edit,
                    .button-delete {
                        i {
                            font-size: 23px;
                            font-weight: 500;
                        }
                        &:hover {
                            i {
                                color: #6e55b4;
                                cursor: pointer;
                            }
                        }
                    }
                    .button-delete {
                        i {
                            position: absolute;
                            top: 23px;
                            right: 40px;
                        }
                    }
                }
                width: 100%;
                display: flex;
                .image {
                    width: 10%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .detail {
                    width: 70%;
                    padding-left: 20px;
                    .name-song {
                        font-weight: 500;
                    }
                    .singer {
                        .singer-name {
                            color: #a0a0a0;
                        }
                        &:hover {
                            .singer-name {
                                color: #6e55b4;
                            }
                        }
                    }
                }
            }
        }
    }
}