#singer {
    padding: 40px 0;
    .cover-singer {
        width: 100%;
        .row {
            margin: 0;
        }
        .cover-each-singer {
            .avatar {
                width: 90%;
                height: 90%;
                margin: auto;
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 100%;
                    transition: transform .5s;
                }
                &:hover {
                    img {
                        -ms-transform: scale(1.1);
                        /* IE 9 */
                        -webkit-transform: scale(1.1);
                        /* Safari 3-8 */
                        transform: scale(1.1);
                    }
                }
            }
            .detail {
                text-align: center;
                margin-top: 15px;
                .name-singer {
                    font-size: 16px;
                    font-weight: 600;
                    &:hover {
                        color: #65509e;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .text {
        text-transform: uppercase !important;
        font-weight: 600;
    }
    .tab-content {
        padding: 20px 0 40px 0;
        display: flex;
    }
    .tab-title {
        padding-top: 30px !important;
    }
    .mat-tab-label-content {
        text-transform: uppercase !important;
        font-weight: 500 !important;
    }
    .mat-tab-body-content {
        padding-top: 30px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

.prev-slide {
    background: url('./../../assets/next_icon.jpg') no-repeat scroll 0 0;
    left: -33px;
}

.next-slide {
    background: url('./../../assets/next_icon.jpg') no-repeat scroll -24px 0px;
    right: -33px;
}