<section id="playlist-detail">
    <div class="container">
        <div class="cover-playlist-detail">
            <div class="playlist-name">
                Danh sách : {{nhac?.listName}}
            </div>
            <mat-tab-group>
                <mat-tab class="tab-title" label="Music Video">
                    <div class="cover-video">
                        <div class="row">
                            <ng-container *ngFor="let nhac of music">
                                <div class="col-lg-3 each-video" *ngIf="nhac.isVideo == '1'">
                                    <div class="cover-each-video">
                                        <div class="image" (click)="layvideo(nhac)">
                                            <img src="{{nhac?.image}}" alt="">
                                        </div>
                                        <div class="detail">
                                            <div class="name-song">
                                                {{nhac?.musicName}}
                                            </div>
                                            <div class="singer">
                                                {{nhac?.singerName}}
                                            </div>
                                        </div>
                                        <div class="button">
                                            <div class="button-delete" data-toggle="modal" data-target="#DeleteMusic" (click)="getIDMusictoDelete(nhac?._id)">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </ng-container>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab class="tab-title" label="Bài hát">
                    <div class="cover-song">
                        <div *ngFor="let nhac of music">
                            <div class="row">
                                <div class="col-lg-6 each-song" *ngIf="nhac.isVideo == '0'">
                                    <div class="cover-each-song">
                                        <div class="image" (click)="laynhac(nhac)">
                                            <img src="{{nhac?.image}}" alt="">
                                        </div>
                                        <div class="detail" (click)="laynhac(nhac)">
                                            <div class="name-song">
                                                {{nhac?.musicName}}
                                            </div>
                                            <div class="singer">
                                                {{nhac?.singerName}}
                                            </div>
                                        </div>
                                        <div class="button">
                                            <div class="button-delete" data-toggle="modal" data-target="#DeleteMusic" (click)="getIDMusictoDelete(nhac?._id)">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>

<div class="modal fade" id="DeleteMusic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa nhạc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
            </div>
            <div class="modal-body">
                Bạn có thực sự muốn xóa bài hát này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="DeleteMusic(idmusic)">Xác nhận</button>
            </div>
        </div>
    </div>
</div>