header {
    height: 125px;
    .cover-header {
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0;
        position: relative;
        .logo {
            width: 20%;
            height: fit-content;
            cursor: pointer;
            padding-left: 135px;
            img {
                width: 100px;
                height: 32px;
            }
            &:focus {
                outline: none;
            }
        }
        .search {
            width: 50%;
            position: relative;
            .form-search {
                width: 100%;
                display: flex;
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
                height: 40px;
                input {
                    width: 94%;
                    border: none;
                    margin: 0;
                    display: inline-block;
                    font-size: 14px;
                    color: #495057;
                    background-clip: padding-box;
                    position: relative;
                    top: 2px;
                    height: 34px;
                    padding: 5px 20px;
                    line-height: 34px;
                    background-color: transparent;
                    &:focus {
                        outline: 0;
                    }
                }
                .data {
                    position: absolute;
                    top: 50px;
                    width: -webkit-fill-available;
                    z-index: 100;
                    tr {
                        height: 40px;
                        width: 100%;
                        background: bisque;
                        line-height: 40px;
                        td {
                            padding-left: 20px;
                            cursor: pointer;
                        }
                    }
                }
                button {
                    border: none;
                    width: 34px;
                    height: 34px;
                    line-height: 34px;
                    background: #ffffff;
                }
            }
        }
        .login {
            width: 15%;
            height: 100%;
            display: flex;
            align-items: center;
            text-align: center;
            position: relative;
            margin-right: 100px;
            &:hover {
                cursor: pointer;
            }
            &:focus {
                outline: none;
            }
            .avata {
                width: 50px;
                height: 50px;
                position: absolute;
                right: 100px;
                border-radius: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }
            .text {
                position: absolute;
                right: 20px;
                .account {
                    right: 0px;
                    text-transform: capitalize;
                    font-weight: 500;
                    &:focus {
                        outline: none;
                    }
                    &:hover {
                        color: #65509e;
                    }
                }
            }
        }
        .menu-main {
            position: absolute;
            width: 100%;
            height: 55px;
            top: 70px;
            background-color: #f7f7f7;
            padding: 0px 193px 0px 135px;
            #menu {
                .list-menu {
                    display: flex;
                    padding: 0;
                    justify-content: space-between;
                    line-height: 55px;
                }
                .menu-parents {
                    list-style: none;
                    position: relative;
                    &:nth-child(5) {
                        .child {
                            width: 200px;
                            .cover-child {
                                .child-1 {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .active-menu {
                        color: #65509e !important;
                        border-bottom: 2px solid #65509e;
                    }
                    // &:nth-child(2) {
                    //     .child {
                    //         width: 200px;
                    //         .cover-child {
                    //             .child-1 {
                    //                 width: 100%;
                    //             }
                    //         }
                    //     }
                    // }
                    .list-item {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #92929d;
                        font-weight: 500;
                        padding: 16px 0;
                        &:hover {
                            color: #65509e;
                            border-bottom: 2px solid #65509e;
                        }
                    }
                    &:hover {
                        .child {
                            display: block;
                        }
                    }
                    .child {
                        display: none;
                        position: absolute;
                        width: 500px;
                        box-shadow: 0px 0px 29px 0px rgba(204, 200, 204, 1);
                        left: -20px;
                        z-index: 100;
                        background: white;
                        .cover-child {
                            display: flex;
                            width: 100%;
                            .child-1,
                            .child-2,
                            .child-3 {
                                width: 33%;
                                display: grid;
                                .title {
                                    font-size: 16px;
                                    font-weight: 500;
                                    padding-left: 20px;
                                }
                                a {
                                    text-decoration: none;
                                    font-size: 15px;
                                    color: #000000cf;
                                    padding-left: 20px;
                                    &:hover {
                                        color: #65509e;
                                        background: #dee2e642;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                text-align: center;
                display: block;
                .close {
                    display: none;
                }
            }
            .modal-body {
                .form-login {
                    text-align: center;
                }
            }
        }
    }
}

.text {
    .name {
        position: relative;
        text-transform: capitalize;
        left: 30px;
        .user {
            font-weight: 500;
            left: 80px;
            &:hover {
                color: #65509e;
            }
        }
        &:hover {
            .log-out {
                display: block;
            }
        }
        .log-out {
            display: none;
            position: absolute;
            width: 230px;
            height: auto;
            background: aliceblue;
            z-index: 10;
            .top,
            .bottom,
            .middle {
                padding: 15px;
                text-align: left;
                &:focus {
                    outline: none;
                }
                i {
                    font-size: 25px;
                    padding-right: 15px;
                    color: #92929d;
                    font-weight: 400;
                }
                span {
                    color: #92929d;
                    text-transform: capitalize;
                    font-weight: 400;
                }
                &:hover {
                    i,
                    span {
                        color: #65509e;
                    }
                }
            }
        }
    }
}