<section id="song">
    <div class="container">
        <mat-tab-group>
            <mat-tab class="tab-title" label="Tất cả">
                <span class="text">Việt Nam</span>
                <div class="tab-content">
                    <div class="cover-song">
                        <div class="row">
                            <ng-container *ngFor="let music of nhac">
                                <div class="col-lg-6 each-song" *ngIf="music.country == 'Việt Nam' && music.isVideo == '0'">
                                    <div class="cover-each-song" (click)="laynhac(music)">
                                        <div class="image">
                                            <img src="{{music?.image}}" alt="">
                                        </div>
                                        <div class="detail">
                                            <div class="name-song">
                                                {{music?.musicName}}
                                            </div>
                                            <div class="singer">
                                                <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <span class="text">Âu Mỹ</span>
                <div class="tab-content">
                    <div class="cover-song">
                        <div class="row">
                            <ng-container *ngFor="let music of nhac">
                                <div class="col-lg-6 each-song" *ngIf="music.country == 'US-UK' && music.isVideo == '0'">
                                    <div class="cover-each-song" (click)="laynhac(music)">
                                        <div class="image">
                                            <img src="{{music?.image}}" alt="">
                                        </div>
                                        <div class="detail">
                                            <div class="name-song">
                                                {{music?.musicName}}
                                            </div>
                                            <div class="singer">
                                                <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <span class="text">Hàn Quốc</span>
                <div class="tab-content">
                    <div class="cover-song">
                        <div class="row">
                            <ng-container *ngFor="let music of nhac">
                                <div class="col-lg-6 each-song" *ngIf="music.country == 'Korea' && music.isVideo == '0'">
                                    <div class="cover-each-song" (click)="laynhac(music)">
                                        <div class="image">
                                            <img src="{{music?.image}}" alt="">
                                        </div>
                                        <div class="detail">
                                            <div class="name-song">
                                                {{music?.musicName}}
                                            </div>
                                            <div class="singer">
                                                <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab class="tab-title" label="Việt Nam">
                <span class="text">Việt Nam</span>
                <div class="tab-content">
                    <div class="cover-song">
                        <div class="row">
                            <ng-container *ngFor="let music of nhac">
                                <div class="col-lg-6 each-song" *ngIf="music.country == 'Việt Nam' && music.isVideo == '0'">
                                    <div class="cover-each-song" (click)="laynhac(music)">
                                        <div class="image">
                                            <img src="{{music?.image}}" alt="">
                                        </div>
                                        <div class="detail">
                                            <div class="name-song">
                                                {{music?.musicName}}
                                            </div>
                                            <div class="singer">
                                                <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab class="tab-title" label="Hàn Quốc">
                <span class="text">Hàn Quốc</span>
                <div class="tab-content">
                    <div class="cover-song">
                        <div class="row">
                            <ng-container *ngFor="let music of nhac">
                                <div class="col-lg-6 each-song" *ngIf="music.country == 'Korea' && music.isVideo == '0'">
                                    <div class="cover-each-song" (click)="laynhac(music)">
                                        <div class="image">
                                            <img src="{{music?.image}}" alt="">
                                        </div>
                                        <div class="detail">
                                            <div class="name-song">
                                                {{music?.musicName}}
                                            </div>
                                            <div class="singer">
                                                <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab class="tab-title" label="Âu Mỹ">
                <span class="text">Âu Mỹ</span>
                <div class="tab-content">
                    <div class="cover-song">
                        <div class="row">
                            <ng-container *ngFor="let music of nhac">
                                <div class="col-lg-6 each-song" *ngIf="music.country == 'US-UK' && music.isVideo == '0'">
                                    <div class="cover-each-song" (click)="laynhac(music)">
                                        <div class="image">
                                            <img src="{{music?.image}}" alt="">
                                        </div>
                                        <div class="detail">
                                            <div class="name-song">
                                                {{music?.musicName}}
                                            </div>
                                            <div class="singer">
                                                <h5 *ngFor="let nameSinger of music?.singer" class="singer-name">{{nameSinger?.singerName}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>
</section>